 html {
     background-image: url("../IMG/media-background.webp");
     position: relative;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
 }

 header {
     z-index: 2;

 }




 /* .title {
    text-align: center;
    justify-content: center;
    align-items: center;
}justify-content
align-items
flex-direction
order
align-self
flex-wrap
flex-flow
align-content
display */

 .title {
     /* position: relative; */
     margin-top: 10%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 3rem;
     color: #f2f2f2;
     align-items: center;
     font-family: tongari 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-family: Tongari Regular, serif;

 }

 .title img {
     width: 20%;
 }

 .decoration {
     /* position: absolute; */
     left: 0;
     width: 100%;

 }

 .decoration:first-of-type {
     top: 0;
 }

 .decoration:last-of-type {
     bottom: 0;
 }

 /* .decoration { 
    height: auto;
    width: 500px;
    margin: auto;
    text-align: center;
}  */

 .videos {
     /* display: block; */
     /* align-content: center; */
     /* margin: 0 auto; */
     gap: 5rem;
     display: flex;
     justify-content: center;
     /* padding-bottom: 10px; */
     /* margin-bottom: 10px; */

     /* border-radius: 10%; */


 }

 /* iframe{
    border-color: gold;
 } */

 .video caption {
     font-family: Ridley Grotesk W05 Regular, sans-serif;
 }

 /* .mediaimg{
    width: 480%;
    height: 270px;
 } */

 figcaption {
     color: white;
 }

 .fire {
     width: 480px;
     height: 270px;
 }

 .boy {
     width: 480px;
     height: 270px;
 }

 .dinosaurus {
     width: 480px;
     height: 270px;
 }

 .flying {
     width: 480px;
     height: 270px;
 }

 .mummie {
     width: 480px;
     height: 270px;
 }

 .laser {
     width: 480px;
     height: 270px;
 }

 .oudemevrouw {
     width: 480px;
     height: 270px;
 }

 .natuur {
     width: 480px;
     height: 270px;
 }

 .kill {
     width: 480px;
     height: 270px;
 }

 .woman {
     width: 480px;
     height: 270px;
 }

 .man {
     width: 480px;
     height: 270px;
 }

 .magic {
     width: 480px;
     height: 270px;
 }

 .mediaimg {
     gap: 2rem;
     display: flex;
     margin: 20px;
     justify-content: center;
     align-items: center;
     align-content: center;
     flex-wrap: wrap;
     /* flex-direction: column; */
 }

 h4 {
     color: white;
     text-align: center;
 }
 /* img{
    border-radius: 10px;
 } */