html {
    background-image: url("../IMG/walkingmanscreen-.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.storyline_grid {
    align-self: right;
    width: 30em;
}

fieldset {

    margin-top: 5em;
    margin-right: .5em;
    padding: 2em;
    width: fit-content;
    border-color: gold;
    border-width: .5em;
    background-color: #1d2735;
}


.container {
    display: flex;
    flex-direction: row;
}

.One {
    margin-left: 5.5em;
}

.Two {
    margin-top: 5em;
    background-color: #1d2735;
    width: 50%;
    color: rgb(135, 125, 82);;
}

h1:hover {
    background-color: gold;
}