html {
    background-image: url("../IMG/natuurscreen.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

fieldset {
    margin-top: 2em;
    width: 25%;
    height: fit-content;
    background-color: rgb(14, 15, 35);
    border-color: gold;
    margin-bottom: 2em;
}

fieldset:hover {
    
}

fieldset img {
   width: 20em;
   margin-left: .7em;
}
fieldset img:hover {
    border-style: solid;
    border-color: gold;
    border-width: .1em;
}


fieldset p.characterInfo {
    color: rgb(135, 125, 82);
    font-family: Ridley Grotesk W05 Regular, sans-serif;
}

fieldset p.Name {
    font-size: 3em;
    text-align: center;
    margin: .3em;
    color: rgb(135, 125, 82);
    
}

.container {
    display: flex;
}

.titlefaq{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 3rem; */
    color: rgb(135, 125, 82);
    align-items: center;
    font-family: tongari 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: Tongari Regular, serif;
    }


